h1 {display:inline-block;text-transform: capitalize;text-align:left;}
body {font-family:serif;padding: 50px;font-size: 16pt;background:#faf6fa;margin: 100px}
p {color:black; text-align: right;}
Header {display: inline-block}
nav {display: inline-block;}
li {display:inline-block;padding:10px;}
ul {display: inline-block; padding: 10px;}
ul > li {display: inline-block; padding:2px;}
a {text-decoration: none; color: black;border: 2px purple solid;padding: 2px;}
a:hover {background: lavender;}
article {display: inline-block}
div img {display: inline-block; width: 70%; height: 70%; border: 2px black solid;float: left;}
div {display: inline-block; padding: 5px; float: left;text-align: right;}
h2 {display: inline-block; font-family: fantasy; font-size: 3em;}
.profile {display: inline-block; border: 2px black solid;padding: 10px;background: #fcfae3;}
.profile img{width: 400px;}
span {text-align: right;display: block;}
article img{width: 200px;}